body {
  background-color: #FC5E55 
}
.container {
  width: 1024px;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
}
header {
  padding-top: 15px;
  padding-right: 15px;
}
main {
  min-height: 300px;
  display: flex;
  align-items: center;
}
.cards {
  background-color: rgb(47, 198, 33);
  min-height: 300px;
  display: flex;
  justify-content: space-between;
}
.card1 {
  background-color:rgb(227, 58, 137) ;
  min-height: 300px;
  width: 30%;
}
.card2 {
  background-color:rgb(174, 30, 97) ;
  min-height: 300px;
  width: 30%;
}
.card3 {
  background-color:rgb(82, 9, 43) ;
  min-height: 300px;
  width: 30%;
}
.herobox1 {
  flex: 2;
}
.herobox2 {
  flex: 1;
}
.navbar {
  display: flex;
  align-items: center;
}
.logo {
  flex: 1;
}
.nav {
  justify-content: flex-end;
}
.nav a, a:visited{
  text-decoration: none;
  color: black;
}
